extends layout

block content
  h1= title
  p  Welcome to #{title}
   .content
      a(class='button', href='http://google.com')  Google
      a(class='button', href='http://redis.io')  Redis
      a(class='button', href='http://http://nodejs.org')  NodeJS
   .content
        a(class='button', href='/user/userForm') 添加用户
        a(class='button', href='/user/userList') 用户列表
   .content
        a(class='button', href='/article/articleForm') 发表文章
        a(class='button', href='/article/articleList') 文章列表