extends layout

block content
  h1= title
  p  Welcome to #{title}
   .content
      a(class='button', href='http://google.com')    Google  | |
      a(class='button', href='http://redis.io')    Redis  | |
      a(class='button', href='http://http://nodejs.org')    NodeJS
   .content
        a(class='button', href='/user/userForm')    addUser  | |
        a(class='button', href='/user/userList')   listUser  | |
        a(class='button', href='http://http://nodejs.org')  NodeJS
   .content
        a(class='button', href='/article/articleForm')    addArticle  | |
        a(class='button', href='/article/articleList')   articleList  | |
        a(class='button', href='http://http://nodejs.org')  NodeJS