doctype html
html
  head
    title= 'seahe node redis'
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/chat.css')
    script(src='/javascripts/jquery-1.11.1.js')
    script(src='/javascripts/underscore.js')
    script(src='/javascripts/backbone.js')
    script(src='/javascripts/common.js')
  body
    a(class='button', href='/') 首页  |
    a(class='button', href='/chathall') 聊天室 |
    a(id="refresh" , class='button' ,href='#') 刷新  |
    a(class='button', href='/toLogin') 登录 |
    a(class='button', href='/logout') 退出  |
    a(class='label', href='/logout') #{session.username}
        script.
         $("#refresh").click(function(){
             refresh_();
         });
         var object = {};
         _.extend(object, Backbone.Events);
         object.on("alert", function(msg) {
            alert("Triggered " + msg);
         });
         //object.trigger("alert", "an event by backbone.js ");
    block content