extends layout
block content
    h1= title
    .context
        form(name="input", action="login", method="get")
            | username:
            input(type="text", name="username")
            | password:
            input(type="text", name="password")
            input(type="submit", value="login")