extends layout
block scripts
    script(src='/javascripts/jqplot/jquery.jqplot.min.js')
    script(src='/javascripts/jqplot/jqplot.pieRenderer.min.js')
    script(src='/javascripts/jqplot/jqplot.donutRenderer.min.js')
    script(src='/javascripts/jqplot/jqplot.dateAxisRenderer.min.js')
    script(src='/javascripts/jqplot/jqplot.canvasTextRenderer.min.js')
    script(src='/javascripts/jqplot/jqplot.canvasAxisTickRenderer.min.js')
    script(src='/javascripts/jqplot/jqplot.categoryAxisRenderer.min.js')
    script(src='/javascripts/jqplot/jqplot.barRenderer.min.js')
block content
    div#jqplotchart
        script.
            $(function () {
                var line1 = [['Cup Holder Pinion Bob', 7], ['Generic Fog Lamp', 9], ['HDTV Receiver', 15],
                ['8 Track Control Module', 12], [' Sludge Pump Fourier Modulator', 3],
                ['Transcender/Spice Rack', 6], ['Hair Spray Danger Indicator', 18]];
                var line2 = [['Nickle', 28], ['Aluminum', 13], ['Xenon', 54], ['Silver', 47],
                ['Sulfer', 16], ['Silicon', 14], ['Vanadium', 23]];

                var plot2 = $.jqplot('jqplotchart', [line1, line2], {
                    series:[{renderer:$.jqplot.BarRenderer}, {xaxis:'x2axis', yaxis:'y2axis'}],
                    axesDefaults: {
                        tickRenderer: $.jqplot.CanvasAxisTickRenderer ,
                        tickOptions: {
                            angle: 30
                        }
                    },
                    axes: {
                        xaxis: {
                            renderer: $.jqplot.CategoryAxisRenderer
                        },
                        x2axis: {
                            renderer: $.jqplot.CategoryAxisRenderer
                        },
                        yaxis: {
                            autoscale:true
                        },
                        y2axis: {
                            autoscale:true
                        }
                    }
                });

                if (typeof window.callPhantom === 'function') {
                    window.callPhantom({ hello: 'world' });
                }
            });