extends ../layout
block content
    h1= title
    .context
        form(name="input", action="userSet", method="post")
            | Username:
            input(type="text", name="username")

            | Password:
            input(type="text", name="pwd")

            input(type="submit", value="save")