extends ../layout
block content
    h1= title
    .context
       p  #{result}
        input(type="hidden",id="articleKey", value="#{articleKey}")
        .context
            a(class="vote",href="#",key="#{articleKey}") span (赞)
        .context
            input(type="text",id="comment",placeholder='say something...')
            a(class="comment",href="#") (评论)
        #context
            p(id="mycomment")
            p(id="comments")
            script.
                $(".vote").click(function(){
                    $.post(
                        '../vote/vote',
                        {articleKey:$("#articleKey").val()},
                        function(data){
                            console.log(data);
                        }, 'json'
                    );
                 });
                $(".comment").click(function(){
                    $.post(
                        '../comment/comment',
                        {
                            articleKey:$("#articleKey").val(),
                            comment : $("#comment").val()
                        },
                        function(data){
                           $("#mycomment").text("@myself : " + data.msg);
                        }, 'json'
                    );
                 });
                 function getVotes(){
                     var key = $("#articleKey").val();
                 }
                 function getComments(){
                    var key = $("#articleKey").val();
                    $.post(
                        '../comment/queryComment',
                        {
                            articleKey:$("#articleKey").val()
                        },
                        function(data){
                            var cs = " ";
                            $.each( data.result, function( key, value ) {
                              cs += " , @" +  key + "---" + value ;
                            });
                           $("#comments").text(cs);
                        }, 'json'
                    );
                 }
                 getComments();