//   Created by acer on 14-5-16.
extends ../layout
block content
    .content
        ul
        -var index = 0
        each val,key in  comments
            li
                #{++index} : #{key} : #{val}