//   Created by acer on 14-5-20.
extends ../layout
block content
    h1= title
    .username #{session.username}
    .chatting
        ul(id='list')
    .send
    input(type="text",id="words" ,name="words")
    a(class='send', href='#') | |  发送（所有人）
    .sendTo
    input(type="text",id="peerwords" ,name="words")
    a(class='sendTo', href='#') | |  发送给（用户名）
    input(type="text",id="target" ,name="rec")
    .button
    a(class='button', href='/') 离开  |
    script.
      $(function () {
          var connection = SingletonWebSocket.getConnection();
          connection.onopen = function () {
              connection.send($(".username").text());
          };
          connection.onerror = function (error) {
              console.log(' connection failed !');
          };
          connection.onmessage = function (message) {
              //var json = JSON.parse(message.data);
              $("#list").html( '<ul> ' + message.data +'</ul> ' + $("#list").html()  );
          };
          $(".send").click(function(){
              connection.send($("#words").val());
              $("#words").val("");
          });
          $(".sendTo").click(function(){
              connection.send($("#target").val()+"@@" + $("#peerwords").val());
              $("#peerwords").val("");
              $("#target").val("");
          });
      });