//   Created by acer on 14-5-20.
extends ../layout
block content
    h1 Say something...
    .chatting
        .left
            p 消息（群聊 ， 私信）
            ul(id='list')
        .split
        .right
            p online
            p zaixian ..
    .send
    input(type="text",id="words" ,name="words")
    a(class='send', href='#')  发送
    .warn
        p 1、 默认发送给所有人 ；          2、 发送到指定用户: 消息@@用户名 ,例如 ：  你好@@zsh
    a(class='button', href='/') 离开
    script.
      $(function () {
          var connection = SingletonWebSocket.getConnection();
          connection.onopen = function () {
              connection.send("我是新来的，大家好啊 ");
          };
          connection.onerror = function (error) {
              console.log(' connection failed !');
          };
          connection.onmessage = function (message) {
              //var json = JSON.parse(message.data);
              $("#list").html( '<li> ' + message.data +'</li> ' + $("#list").html()  );
          };
          $(".send").click(function(){
              connection.send($("#words").val());
              $("#words").val("");
          });
      });