//   Created by acer on 14-5-20.
extends ../layout
block content
    h1= title
    .username #{session.username}
    .chatting
        ul(id='list')
    .send
    input(type="text",id="words" ,name="words")
    a(class='send', href='#') | |  发送
    .note
        p 默认发送给所有人 ； 发送到用户  ： 消息@@用户名 例如 ：  你好@@zsh
    a(class='button', href='/') 离开  |
    script.
      $(function () {
          var connection = SingletonWebSocket.getConnection();
          connection.onopen = function () {
              connection.send($(".username").text());
          };
          connection.onerror = function (error) {
              console.log(' connection failed !');
          };
          connection.onmessage = function (message) {
              //var json = JSON.parse(message.data);
              $("#list").html( '<ul> ' + message.data +'</ul> ' + $("#list").html()  );
          };
          $(".send").click(function(){
              connection.send($("#words").val());
              $("#words").val("");
          });
      });